<div id="about">
    <div id="innerDiv">
        <div id="subDiv1" class="subDiv" style="padding-right: 80px;">
        <span style="font-size: 30px;">Medicare</span>
        <h3 style="margin-top: 20px;">
            Medicare is your own pharmacy store where you can easily get your desired medicines and products related medical health and hygiene.
        </h3>
        </div>
        <div id="subDiv2" class="subDiv">
            <span style="font-size: 30px;">Featured</span>
            <h4 style="margin-top: 20px;">Personal care products <br>  Pain relief products <br> Baby care products <br> Medical supplies</h4>
        </div>
        <div id="subDiv3" class="subDiv">
            <span style="font-size: 30px;">Contact us</span>
            <h3 style="margin-top: 20px;">E-mail</h3>
            <p style="color: lightgray;">example123@gmail.com</p>
            <h3>Phone</h3>
            <p style="color: lightgray;">(123)-456-789</p>
            <h3>Address</h3>
            <p style="color: lightgray;">Sector-13 Rohni,Delhi</p>
        </div>
        <div id="subDiv4" class="subDiv">
            <span style="font-size: 30px;">Our social media handels</span>
            <div style="font-size: 40px;margin-top: 20px;display: flex;justify-content: space-between;">
            <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a href="https://twitter.com/i/flow/login"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>