<div id="navbar">
    <div id="navLeft">
    <p style="padding: 28px 0px 0px 80px; font-size: 30px;">
        <a href="home" style="text-decoration: none; color: white;">Medicare</a></p>
    </div>
    <div id="navRight">
        <ul>
            <li><a href="home"><i class="fa fa-home" aria-hidden="true" style="font-size: 20px;"></i></a></li>
            <li><a href="cart"><i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 20px;"></i></a></li>
            <li><a href="profile"><i class="fa fa-user" aria-hidden="true" style="font-size: 20px;"></i></a></li>
            <li><a href="signin"><i class="fa fa-sign-out" aria-hidden="true" style="font-size: 20px;"></i></a></li>
        </ul>
    </div>
</div>